################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APP/C# App/.vscode


APP/C# App/DotNetSOAPStarter/DotNetSOAPStarter/.vs/


**/.vscode/
**/obj/
**/bin/
**/properties/